    :root {
     --red: rgb(217, 21, 27)
    }
    
    .main {
        text-align: center;
        background-color: var(--red);
    }

    .segment {
      width: fit-content;
      display: inline-flex;
       
    }

    select, #title_artist, 
    #notering {
        width: 150px;
        margin-top:5px;
    }

        form {
        margin: 20px;
        color:white;
    }

    #all_results {
        padding: 10px;
        background-color: var(--red);
        color: white;
    }

    #results {
        font-style: italic;
        margin: 0 0 10px 10%;
    }

th, td {
     text-align: left;
     min-width: 100px;
     padding: 5px;
    }

    tr {
        font-family: Arial, Helvetica, sans-serif;
    }

    tr:nth-child(even) {
        background-color: rgb(229, 223, 223);
        
    }

    td a img {
        width: 25px;
        height: auto;
    }

    td a {
        display: block;
        margin: 0 30%
    }

.container_table table {
    width: 80%;
    margin: auto;
}

.width_cell {
   width: 70px;
}

@media (max-width: 500px) {

    .container_table {
        width: 100%;
        margin: auto;
    }
}

